<%= form_for @tweet do |f| %>
	<div class="form">
		<%= f.label :author %>
		<%= f.text_field :author %>
	</div>

	<div class="form">
		<%= f.label :body %>
		<%= f.text_field :body %>
	</div>

	<div class="actions">
		<%= f.submit 'Save' %>
	</div>

<% end %>